extends layout

block content
    br
    h1 Customer Name : #{name}
    h5 Customer Contact : #{order.contact}
    p= order.product
    hr
<<<<<<< HEAD
    if user
        if user.id == order.name
            a.btn.btn-default(href='/orders/edit/'+order._id) Edit This Order
            a.btn.btn-danger.delete-article(href='#', data-id=order._id) Delete This Order
        
=======
    a.btn.btn-default(href='/orders/edit/'+order._id) Edit My's Order
    a.btn.btn-danger.delete-article(href='#', data-id=order._id) Delete This Order
>>>>>>> 3f6d909d73191a563848509e917247ba36dbbf10
